@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap');

$Universe_Font: 'Montserrat', sans-serif;
$Main_Font: 'Montserrat', sans-serif;

$Nav1: #2E4052;
$Back: #bbe7fa;

$Buttons: #EF2D56;

$Darker: #253545;

$Thead: #32DE8A;